.dashboardContainer {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .dashboardContent {
    h2 {
      margin: 1em;
      color: #548CDC;
    }
  }
}

.box {
  background-color: white;
  color:  #1c406e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-weight: 800;
  width: 96%;
  padding: 1em;
  margin: 1em auto;

  .fieldContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 15px
  }
}
